---
import { db, Comment } from "astro:db";

const comments = await db.select().from(Comment);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <h2>List of comments from the database...</h2>
    <ul>
      {
        comments.map((c) => (
          <li>
            <>
              <h3>{c.author} says</h3>
              <p>{c.body}</p>
            </>
          </li>
        ))
      }
    </ul>
  </body>
</html>
